@charset "utf-8";
body{
	font-family:微软雅黑,宋体, Arial, Helvetica, sans-serif;
	 margin:0px; padding:0px; line-height:30px; background:#7dcad2;
}
ul,li,*{ margin:0px; padding:0px; list-style-type:none}
img{-ms-interpolation-mode:bicubic; width:102%;vertical-align:bottom;}
a:link,a:visited {
	color: #FFF;
	text-decoration: underline;
}
a:hover{ color:#FF0}
#main{margin-left:auto; margin-right:auto; max-width:640px;
}
#logo{background:url(images/gy_top_01.jpg);background-size:100% 100%; max-width:610px; height:58px; line-height:58px; text-align:right; padding-right:30px; color:#fff;}
#top{ position:relative;}
.top_news{position:absolute; right:6%; bottom:4%;color:#fff; }
#main .nav{width:105%}
#main .nav li{ display:inline-block;width: 33%;}
.nav li p font{ color: #FF0}
#main .nav li p{position: absolute; width:100%; left: 45px; top: 244px; color:#fff; }
#cent{ background:#fff;}
#cent .sywh .txt{ margin:10px 60px; text-indent:2em}
.btn{ width:100%;}
.btn img{ width:50%}
.sywh .btn{ position:relative;}
.sywh .btn p{position: absolute;  width:100%;}
#foot .gy{ max-width:640px;}
#foot .bottom{ height:40px; background:#0096a5; text-align:right; padding-right:30px; color:#fff; line-height:40px;}a:hover {
}


